<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-/Apple/DTD PLIST 1.0/EN" "http:/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.timods.stubby</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/opt/stubby/bin/stubby</string>
      <string>-C</string>
      <string>/usr/local/etc/stubby/stubby.yml</string>
      <string>-l</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/stubby/stubby.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/stubby/stubby.log</string>
  </dict>
</plist>
