<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.timods.b-leaves</string>
    <key>ProgramArguments</key>
    <array>
      <string>bash</string>
      <string>brew-leaves.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>21600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/timods/Library/Logs/Local/bleaves.stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/timods/Library/Logs/Local/bleaves.stdout.log</string>
  </dict>
</plist>
