<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.timods.keepit.redditfavs</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/python3</string>
      <string>/Users/timods/.local/bin/store-redditfavs-keepit.py</string>
    </array>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/timods/Library/Logs/Local/keepit-redditfavs.stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/timods/Library/Logs/Local/keepit-redditfavs.stdout.log</string>
  </dict>
</plist>
